
body {
    background-color: cadetblue;
}

.text {
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif
}

p {
    color:black;
    font-size: 15px;
    text-align: center
}

h1{
    color:black;
    font-size: 40px;
    text-align: center
}

h2{
    color:rgb(43,43,43);
    font-size: 25px;
    text-align: center
}
