body {
    background-color: rgb(228, 252, 252)
}

.main {
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
    width: 50%;
    padding: 10px;
}

p {
    color:black;
    font-size: 20px;
    text-align: left;
    text-indent: 2em;
    line-height: 1.25;
}

h1{
    color:black;
    font-size: 40px;
    text-align: center;
}

h2{
    color:rgb(43,43,43);
    font-size: 25px;
    text-align: left;
}

figure{
    margin:auto;
    padding-top: 20px;
    padding-bottom: 25px;
}
figcaption{
    text-align: center;
    font-size:15px;
    padding-top:5px;
    width: 45%;
    margin: auto;
}

.center{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 40%;
}

.left{
    display:inline-block;
    margin-left:auto;
    margin-right: auto;
    width:40%;
    padding-top: 20px;
    padding-bottom:25px;
    text-align: left;
    
}

hr.solid {
    border-top: 2px solid
}

.footer{
    background-color: rgb(188, 208, 250);
}

.row{
    display: flex;
    justify-content:center

}

.column{
    flex: 0 1 auto;
    justify-content: center;
    width:33%;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}